node_modules/
www/js/config.js
platforms/android/CordovaLib
platforms/android/assets
platforms/android/cordova
platforms/android/ant-build
platforms/android/src
plugins
www/lib
platforms
oldIcon
newIcon
newIcon_shadow
