<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/model.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane ng-controller="CounterCtrl">
      <ion-content>
        <div class="suppliers">
          <a class="button button-large breastL" ng-click="toggleFeeding('L')">L</a> 
          <a class="button button-large breastR" ng-click="toggleFeeding('R')">R</a> 
        </div>

       <!-- <ion-scroll> -->
          <ion-list>
            <div class="ongoing">
              <span class="supplier">{{currentFeeding.supplier}}</span>
              <span class="starttime">{{currentFeeding.startTime | date:'yyyy-MM-dd HH:mm'}}</span>
              <span class="duration">{{currentFeeding.duration | date:'mm:ss'}}</span>
              <!-- <span class="volume">{{currentFeeding.volume}}</span> -->
            </div>
            <ion-item ng-repeat="feeding in feedings">
              <span class="supplier">{{feeding.supplier}}</span>
              <span class="starttime">{{feeding.startTime | date:'yyyy-MM-dd HH:mm'}}</span>
              <span class="duration">{{feeding.duration | date:'mm:ss'}}</span>
              <!-- <span class="volume">{{feeding.volume}}</span> -->
            </ion-item>
          </ion-list>
       <!-- </ion-scroll> -->

      </ion-content>
    </ion-pane>
  </body>
</html>
