<div class="durations" ng-show="feeding.timeAgo">
  <span class="row">
    <div class="verticalLine"></div>
    <span class="col between">{{feeding.timeAgo}}</span>
    <span class="col"></span>
  </span>
</div>
<div class="times">
  <span class="row" ng-show="feeding.supplier === 'B'">
    <div class="verticalLine"></div>
    <span class="supplierContainer">
      <span ng-click="editFeeding(feeding)" class="supplier supplier{{feeding.supplier}}"><i class="ion-waterdrop"></i></span>
    </span>
    <span class="col"></span>
    <span class="col">
      <div class="feedingInfo">{{feeding.startTime | date:'HH:mm'}}</div>
      <div class="feedingInfo volume">{{feeding.volume}}ml</div>
    </span>
    
  </span>
  <span class="row" ng-show="feeding.supplier !== 'B'">
    <div class="verticalLine"></div>
    <span class="supplierContainer">
      <span ng-click="editFeeding(feeding)" class="supplier supplier{{feeding.supplier}}">{{feeding.supplier}}</span>
    </span>
    <span class="col"></span>
    <span class="col">
      <div class="feedingInfo">{{feeding.startTime | date:'HH:mm'}} - {{endTime(feeding) | date:'HH:mm'}}</div>
      <div class="feedingInfo duration">{{feeding.duration | date:'m'}} min</div>
   </span>
  </span>
</div>
