/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

div.inner { width: 800px; margin: 0 auto;}

body {
  background-image: url('../images/menu-backdrop.png');
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
}

h2, dt, footer {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

p, a, dd {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
}


header, section, footer {
  padding: 0 80px;
  margin: 0px 0px;
}

header {
  text-align: center;
  height: 300px;
  background-image: url('../images/head2.jpg');
  background-position: bottom right;
  background-size: auto 400px;
  text-shadow: 0 1px 0 black;
}

header h1 {
  padding-top: 40px;
  font-size: 50px;
  color: white;
}
header h2 {
  font-size: 30px;
  color: #06E0C6;
}

div.inner, section {
  background-color: #e5e5e5;
}
section {
  height: 360px;
  position: relative;
  vertical-align: center;
  display: inline-flex;
}
section .content {
  margin: auto 0;
  text-align: center;
}

section.odd  .content { margin-left: 50%;}
section.even .content { margin-right: 50%;}
section h1 { font-size: 32px }
section p, section dl {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
  margin-top: 8px;
}
section dd { margin-bottom: 8px;}
section > .left, section > .right {
  width: 49%;
  display: inline-table;
  text-align: center;
}

section .img {
  top: 30px;
  width: 300px;
  height: 300px;
  position: absolute;
  background-repeat: no-repeat;
  border-radius: 28px;
}

section#basics .img {
  background-image: url('../images/2014-07-19-12-24-48.png');
  background-size: 300px;
  background-position: 0 -46px;
}

section#sync .img {
  background-image: url('../images/sync.jpg');
  background-size: auto 300px;
  background-position: -28px 0px;
  right: 80px;
}

section#nobloat .img {
  background-image: url('../images/idontthinkso.jpg');
  background-size: 300px;
  background-position: 0 -91px;
}

section#basics .img, section#nobloat .img  {
  left:80px;
}

section#nobloat .img {
  margin-bottom: 32px;
}

footer {
  background-color: #666;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

a.button, a.button:hover {
  background-color: #242730;
  border-radius: 50px;
  border-width: 2px;
  border-style: solid;
  font-size: 21px;
  vertical-align: middle;
  border-color: #06E0C6;
  box-shadow: #222 0 0 28px;
  color: white;
  text-decoration: none;;
  padding: 8px 16px;
  margin: 46px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

strong { font-weight: bold
}
