div.inner { width: 100%; max-width: 500px; min-width: 320px }

header, section, footer {
  padding-right: 10px;
  padding-left: 10px;
}

header {
  height: auto;
}

header h1 { font-size: 47px }
header h2 { font-size: 21px; margin-top: 4px; }

a.button {
  margin: 33px 0 45px;
  font-size: 18px;
}

section {
  height: auto;
  display: block;
  padding-top: ;
}
section .img {
  display: block;
  position: inherit;
  right: inherit !important;
  left: inherit !important;
  top: 0px;
  margin: 20px auto 0;
}

section {
  padding-top: 32px;
}

section .content {
  display: block;
}

section.odd .content  {  margin: 0px !important; padding: 0 30px;}
section.even .content {  margin: 0px !important; padding: 0 30px;}

section > .left, section > .right {
  display: block;
  width: 100%;
  text-align: center;
}

section > .right { margin-top: 30px; }


section p, section dl {
  margin-bottom: 8px !important;
  margin-top: 8px !important;
}
