.Charts canvas{
  width: 100% !important;
  height: auto !important;
  margin-top: 40px;
}

.Charts .slider-pager {top: 0px;}

.Charts select {
  width: 100%;
  height: 40px;
  background-color: #242730;
}

.Charts strong {
  color: #FCC108;
  font-size: 16px;
}

.Charts .leftColor   { font-weight: bold; color: rgba(252,193,8,1);}
.Charts .rightColor  { font-weight: bold; color: rgba(6,224,198,1);}
.Charts .bottleColor { font-weight: bold; color: rgba(255,255,255,1);}

.Charts .chartDescText { color: #999;}
.chartDescHead { text-transform: uppercase; margin-top: 24px; margin-bottom: 8px}
.chartDescContent .chartDescText { margin-bottom: 10px;}
.chartDescContent .tag {display: inline-block; width: 50px; margin: 4px 10px; color: #999;}
.chartDescContent .tag .leftColor, .chartDescContent .tag .bottleColor, .chartDescContent .tag .rightColor {
  display: block;
  border-radius: 50%;
  border: 2px solid;
  width: 50px;
  height: 50px;
  line-height: 46px;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 22px;
}
.chartDescContent .tag .leftColor   { border-color: rgba(252,193,8,1);}
.chartDescContent .tag .rightColor  { border-color: rgba(6,224,198,1);}
.chartDescContent .tag .bottleColor { border-color: rgba(255,255,255,1);}

@media all and (min-width: 1000px) {
  .ChartAndTitle {
    width: 60%;
    float: left;
  }
  .chartDescContent {
    width: 39%;
    float: left;
  }
  hr {
    display: none;
  }
}