.Charts canvas{
  width: 100% !important;
  height: auto !important;
  margin-top: 40px;
}

.Charts .slider-pager {top: 0px;}

.Charts select {
  width: 100%;
  height: 40px;
  background-color: #242730;
}

.Charts strong {
  color: #FCC108;
}

.Charts .leftColor   { color: rgba(220,130,130,1);}
.Charts .rightColor  { color: rgba(130,220,130,1);}
.Charts .bottleColor { color: rgba(130,130,220,1);}