.ongoing, .ongoing SPAN { 
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  position: relative;
  background-color: transparent;
}


.supplierContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  background-color: transparent;
  vertical-align: middle;
}
.supplier {
  background-color: white;
  font-weight: bold;  
  width: 29px;
  height: 29px;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  color: black;
}

.supplierL {
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
  margin-right: 29px;
  left: inherit;
}
.supplierR {
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  margin-left: 29px;
}
.supplierB {
  border-radius: 19px;
  left: inherit;
  width: 40px;
}
.supplierB .ion-waterdrop {
  background-color: #fff;
  color: #000;
}

.startTime {
  padding-left: 66px !important;
}

*, body, .item, .bar {
	border-color: #333;
	color: #fff;
}

body, .list, .pane, .item, .menu, .bar, .scroll-content {
  background-color: #242730;
}

.button, .button:HOVER {
	color: #fff;
	background-color: #242730;
}

.button-round {
	border-radius: 50px;
  border-width: 2px;
  width: 130px;
  height: 46px;
  line-height: 46px;
  font-size: 21px;
  vertical-align: middle;
  border-color: #06E0C6;
  box-shadow: #222 0 0 28px;
}

.button-bottle, .button-bottle:HOVER {
  width: 90px;
  height: 90px;
  line-height: 90px;
  border-radius: 50%;
  position: absolute;
  margin-left: -45px;
  z-index: 1;
  margin-top: -10px;
  box-shadow: #222 0 0 12px;
}

#breastL {
  padding-right: 33px;
}
#breastR {
  padding-left: 33px;
}

.selected, .selected:HOVER {
  line-height: 30px;
  background-color: #06E0C6;
  color: black;
  border-width: 0px;
}

.suppliers {
	text-align: center;
  vertical-align: middle;
  padding: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 70px;
  background-color: transparent;
}

.between {
  color: #FCC108;
  font-size: 18px;
  text-align: right;
  margin-right: 20px;
}

.input-label { color: #fff;}

h1, h2, h3, h4 { color: #fff;}

.loadingIndicator {
  text-align: center;
  display: block;
  position: absolute;
  height: 20px;
  width: 100%;
  z-index: 2;
  margin-top: -3px;
}
.time {
  color: #FCC108;
  font-size: 30px;
}

.day {
  text-align: center;
	margin: 10px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.times, .durations {
  position: relative;
  height: 54px;
  overflow: visible;
}

.durations {
  height: 52px;
}

.feedingInfo {
  margin-left: 36px;
  line-height: 18px;
}
.col .duration, .col .volume {
  font-size: 12px;
  color: #999;
  background-color: transparent;
}

.verticalLine {
  border-left: 1px solid #999;
  position: absolute;
  height: 100%;
  left: 50%;
}

.timeSinceLast .time, .timeSinceLast p {
  line-height: 10px;
}
.timeSinceLast p { color: #999 ;}
.timeSinceLast { height: 68px; text-align: center; }
.timeSinceLast .verticalLine {
  margin-top: 10px;
}

.button-menu,.button-menu:HOVER { background-color: transparent;}

.row {padding: 0px;}
.col {padding: 0px;}

.newFeedingDuration, .newFeedingVolume {
  text-align: center;
  margin: 14px 0 24px;
}
.newFeedingDuration div, .newFeedingVolume div { 
  font-size: 32px;
  line-height: 64px;
  text-align: center;
}
.newFeedingDuration input, .newFeedingVolume input { width: 90% }
.newFeedingDuration .header, .newFeedingVolume .header { 
  text-transform: uppercase;
  color: #999;
  font-size: 12px;
  line-height: 18px;
}

.counter {
  background-image: url("../img/blur.jpg");
  overflow: auto;
  background-position: bottom;
  background-repeat: no-repeat;
}

.popup {
  background-color: #242730;
}

.popup-buttons .button, .popup-buttons .button:HOVER, .popup-buttons .button:FIRST-CHILD, .popup-buttons .button:LAST-CHILD {
  border-width: 2px;
  border-radius: 50px;
  border-color: #06E0C6;
  margin: 0 4px;
}
.sources .button, .sources .button:HOVER, .sources .button:FIRST-CHILD, .sources .button:LAST-CHILD {
  border-radius: 0px;
  border-right: none;
  margin: 0px;
  padding: 0px 25px;
}
.sources .button:FIRST-CHILD {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.sources .button:LAST-CHILD {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-right: 2px solid #06E0C6;
}
.popup .sources { text-align: center; display: inline-table;}
.popup { width: 80%}
.popup .button-block {
  border-color: #8b8b8b;
  font-size: 16px;
  margin: 0px 4px 20px;
}

.item-input {
  padding: 10px 0px;
  border: none;
}
.range input {
  margin-left: 0px;
  margin-right: 0px;
}
.range-positive {
  border: 0px;
}
.item-select select {
  color: #fff;
}

.sidemenu {
  background-image: url("../img/menu-backdrop.png");
}
.sidemenu .list, .sidemenu .item {
  background-color: transparent;
}
.sidemenu .item {
  border: 1px solid #464950;
}

.ion-toggle-filled, .ion-toggle {
  color: #06E0C6;
}
.item-icon-right .icon {
  right: 35px;
  font-size: 45px;
}

.menu-content {
  box-shadow: #222 0px 0px 23px
}

.modal .scroll-content {
  padding: 2em;
}
.modal {
  text-align: center;
}
.modal .small {
  font-size: 10px;
  color: #999;
}
.modal .info {
  margin-bottom: 32px;
}

input.error {background-color: #c88}
input[type="text"] {padding-left: 10px}
input[type="range"]::-webkit-slider-thumb:before {
  background-color: #FCC108;
}

.legend {
  border: 0px;
  width: auto;
  text-align: center;
  color: #999;
  text-transform: uppercase;
  font-size: 12px;
  padding: 12px 12px 0px;
  /*margin-top: 44px;*/
}
.settings {
  margin: 22px 0;
}
.settings .item {
  border: 0px !important; 
}
.noicon {
  margin: 0px 10px;
  border-left-style: none !important;
  border-right-style: none !important;
  padding-left: 5px;
};