/* Empty. Add your o
wn CSS if you like */

.ongoing { 
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  margin-top: 40px;
}


.supplier {
  border: 1px solid white;
  background-color: white;
  border-radius: 50%;
  font-weight: bold;  
  width: 26px;
  height: 26px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  color: black;
}

*, body, .item, .bar {
	background-color: #000;
	border-color: #333;
	color: #fff;
}

.button {
	color: #fff;
	background-color: #222;
}

.button-round {
	border-radius: 50px;
  border-width: 2px;
  width: 130px;
  height: 46px;
  line-height: 46px;
  font-size: 21px;
}

.selected {
	border-width: 10px;
	line-height: 30px;
}

.suppliers {
	text-align: center;
  padding: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.between {
  color: aqua;
  background-color: #222;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 16px;
}

.input-label { color: #fff;}

h1, h2, h3, h4 { color: #fff;}

.loader {text-align: center; line-height: 26px}

.timeSinceLast {
  text-align: center;
  margin-bottom: 20px;
	color: darkgray;
}

.time {
  color: aqua;
  font-size: 18px;
}

.day {
  text-align: center;
	margin: 10px;
  text-transform: uppercase;
}

.times {
  margin-left: 70px;
  margin-right: 70px;
}

.durations {
  text-align: center;
  margin: 0.4em 0;
}

.starttime {
  color: white;
}

.endtime {
  color: white;
}

.item-note {
  float: right;
  color: #aaa;
  font-size: 14px;
  line-height: 26px;
}